<div class="container">
    <h1 class="text-center text-light">{{title}}</h1>
    <table class="table table-dark table-striped">
    <thead class="">
        <tr>
        <th scope="col">#</th>
        <th scope="col">protoval</th>
        <th scope="col">host</th>
        <th scope="col">originalUrl</th>
        <th scope="col">buttons</th>
        </tr>
    </thead>
        {{#each data}}
            <tr class="">
                <th class="col">{{id}}</th>
                <td class="col">{{protocol}}</td>
                <td class="col">{{host}}</td>
                <td class="col-sm">{{originalUrl}}</td>
                <td class="col">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                    <button type="button" class="btn btn-secondary btn-sm">Delete</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>